/* Import the fonts that are in the assets/fonts folder */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700;800&display=swap');

body {
    background: var(--Very-Light-blue, #ECF2FF);
    width: 100%;
    height: 100vh;
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    margin: 0;

}

.results {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border-radius: 32px;
    background: var(--Very-Light-blue, #ECF2FF);
    margin: 250px 350px 250px 350px;
    
}

.results h1, .results h2 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 800;
}

.results h2 {
    margin-top: 28px;
}
.results p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.results .bold-number {
    font-weight: 700;
}


.results_left, .results_right {
    width: 100%;
    max-width: 375px;
    width: 350px;
    height: 512px;
}
.results_left {
    
    color: white;
    border-radius: 32px;
    background: var(--Gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));
    align-items: center;
    padding-top: 38px;
    text-align: center;
    padding-bottom: 40px;
    padding-right: 54px;
    padding-left: 54px;
}

.result-left-text-box {
    margin: 38px 54px 55px 54px;
}

.results_left h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    color: var(--Light-Blue, #CAC9FF);
    font-family: Hanken Grotesk;
    font-feature-settings: 'clig' off, 'liga' off;

}

.results_left h1 {
    background: var(--Gradient-2, linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%));
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    font-size: 72px;
    line-height: 56px;
    margin-bottom: 20px;
}

#paragraph-score {
    color: var(--Light-Blue, #CAC9FF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
}

.results_right {
    color: hsl(234, 85%, 45%);
    padding: 40px;
    border-radius: 32px;
    background: var(--White, #FFF);
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
}

.results_right h3 {
    font-family: Hanken Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--Dark-Navy, #303B59);
    font-feature-settings: 'clig' off, 'liga' off;
    margin-top: 0;
    margin-bottom: 28px;

}

.small-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.small-boxes img {
    margin-right: 16px;
    
}

.red, .yellow, .green, .blue {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    padding: 5px 16px 5px 16px;
    margin-bottom: 16px;
    height: 56px;
    
}

.red {
    background: var(--red-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55);
}

.yellow {
    background: var(--yellow-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #FFB21E);
}

.green {
    background: var(--green-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00BB8F);
}

.blue {
    background: var(--blue-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #1125D6);
}

.bold-number {
    margin-left: auto;
}

button {
    width: 100%;
    max-width: 375px;
    height: 56px;
    border: none;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: hsl(0, 0%, 100%);
    border-radius: 128px;
    background-color: var(--Dark-Navy, #303B59);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
    margin-top: 40px;

}

button:hover {
    background: var(--Gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));
}

.attribution {
    margin-top: 200px;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}



/* Additional styles for the result circle */
.result-circle {
    background: var(--Primary-Blue, #5746EC);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 35px;
}

.result-score {
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

/* Styles for "of 100" text within the circle */
.result-circle span:not(.result-score) {
    color: #ffffff;
    font-size: 18px;

}


@media screen and (max-width: 375px) {
    .results {
       flex-direction: column;
       margin: auto;
       
        
    }

    .results_left, .results_right {
        width: 100%;
        max-width: 375px;
        width: 350px;
        height: 512px;
    }

    .results_left {
        padding-top: 0;
        border-radius: 0 0 32px 32px;
        height: 40%;
        margin-bottom: 0;
    }

    .result-circle {
        width: 140px;
        height: 140px;
    }

    .result-score {
        font-size: 56px;
    }

    .results h2 {
        font-size: 24px;

    }

    .result-left-text-box {
        margin: 18px 0 0 0;

    
    }

    .results_right {
        width: 100%;
        height: 100%;
    }

    button:hover {
        background: var(--Gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));
    }
}
